body {
    background-color: #E6F2FF;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #FFFFFF;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    line-height: 1.8;
    font-size: 20px;
}

/* Tiêu đề */
h1 {
    color: #003366;
    text-align: center;
}
h2 {
    font-style: italic;
}


p {
    text-indent: 35px;
    text-align: justify;
    margin-bottom: 15px;
}


img {
    display: block;
    margin: 20px auto;
    width: 80%;
    height: auto;
}

/* Danh sách */
.list-style {
    margin-left: 0;
    padding-left: 20px;
    line-height: 1.8;
}
    
}

.list-style li {
    margin-bottom: 10px;
}
 
.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list li {
    font-size: 0.95em;
    margin-bottom: 6px;
}

footer img {
    width: 70px;
    margin-bottom: 5px;
}

footer b {
    font-size: 16px;
}

footer i {
    font-size: 13px;
}

footer td {
    padding: 15px;
}
/* Menu */
.menu {
    background-color: #003366;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 20px;
}

.menu a:hover {
    color: yellow;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 200px;
    border: 1px solid #CCCCCC;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #E6F2FF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Chữ chạy (Marquee) */
.thanhchay {
  width: 100%;
  background: #faf2f5;
  overflow: hidden;
  height: 45px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #1c1b19;
}

.menu-text {
  white-space: nowrap;
  color: #9a3232;
  font-size: 18px;
  font-weight: bold;
  padding-left: 100%;
  animation: chayngang 12s linear infinite;
}

@keyframes chayngang {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}